[submodule "/Users/jhh/git/heusalagroup/whois.hg.fi/src/fi/hg/core"]
	path = /Users/jhh/git/heusalagroup/whois.hg.fi/src/fi/hg/core
	url = git@github.com:heusalagroup/fi.hg.core.git
	branch = main
[submodule "/Users/jhh/git/heusalagroup/whois.hg.fi/src/fi/hg/backend"]
	path = /Users/jhh/git/heusalagroup/whois.hg.fi/src/fi/hg/backend
	url = git@github.com:heusalagroup/fi.hg.backend.git
	branch = main
